.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
}

.poster-flip {
  width: 100%;
  height: 350px;
  perspective: 1000px;
}

.poster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.poster-flip:hover .poster-inner {
  transform: rotateY(180deg);
}

.poster-front,
.poster-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.poster-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-back {
  transform: rotateY(180deg);
  background-color: white;
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
}

.search-row {
  display: flex;
  justify-content: space-between;
  padding: 0 15px
}